<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.dao.UserMapper">

<!--    <resultMap id="GetAllMovie" type="Movie">-->
<!--        <id column="id" property="id" jdbcType="INTEGER" />-->
<!--        <result column="movieName" property="movieName" jdbcType="VARCHAR" />-->
<!--        <result column="releaseDate" property="releaseDate" jdbcType="VARCHAR" />-->
<!--        <result column="country" property="country" jdbcType="VARCHAR" />-->
<!--        <result column="screenWriter" property="screenWriter" jdbcType="VARCHAR" />-->
<!--        <result column="movieKind" property="movieKind" jdbcType="VARCHAR" />-->
<!--        <result column="director" property="director" jdbcType="VARCHAR" />-->
<!--        <result column="grade" property="grade" jdbcType="Integer" />-->
<!--        <result column="numOfPeople" property="numOfPeople" jdbcType="Integer" />-->
<!--        <result column="price" property="price" jdbcType="Integer" />-->
<!--        <result column="actor" property="actor" jdbcType="VARCHAR" />-->
<!--        <result column="description" property="description"  />-->
<!--        <result column="img" property="img"  />-->

<!--    </resultMap>-->

<!--    <resultMap id="GetAllUser" type="User">-->
<!--        <id column="id" property="id" />-->
<!--        <result column="userName" property="userName" />-->
<!--        <result column="password" property="password" />-->
<!--        <result column="email" property="email" />-->
<!--        <result column="birthday" property="birthday" />-->
<!--        <result column="gender" property="gender" />-->
<!--        <result column="authority" property="authority" />-->
<!--        <result column="image" property="image" />-->
<!--    </resultMap>-->
    <select id="selectAllPreferMovie" parameterType="User" resultType="Movie">
        select Movies.*
        from Users,UserAndMovie,Movies
        where Users.id = UserAndMovie.userId and UserAndMovie.movieId = Movies.id
        and Users.userName = #{userName}
    </select>

    <insert id="add" parameterType="User">
        insert into Users
        values (null,#{userName},#{password},#{email},#{birthday},#{gender},'0',#{image})
    </insert>

    <select id="selectByName" parameterType="java.lang.String" resultType="User">
        select *
        from Users
        where userName = #{userName}
    </select>

    <select id="selectAll" resultType="User">
        select * from Users
        order by id desc
        limit #{offset} ,#{limit}
    </select>

    <delete id="deleteById" parameterType="int">
        delete
        from Users
        where id = #{id}
    </delete>

    <update id="update" parameterType="User">
        update Users
        <set>
            <if test="userName != null and userName!=''">
                userName=#{userName},
            </if>
            <if test="password != null and password!=''">
                password=#{password},
            </if>
            <if test="email != null and email!=''">
                email=#{email},
            </if>
            <if test="birthday != null and birthday!=''">
                birthday=#{birthday},
            </if>
            <if test="gender != null and gender!=''">
                gender=#{gender},
            </if>
            <if test="authority != null and authority!=''">
                authority=#{authority},
            </if>
            <if test="image != null and image!=''">
                image=#{image},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="count" resultType="int">
        select count(*)
        from Users;
    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultType="User">
        select * from Users
        where id = #{id}
    </select>
</mapper>